<img src="../images/TeeBase Banner.jpg" class="img-responsive" style="width:100%" />
<div class="row  row-info" >
    <div class="col-sm-12">
        <p class="home-intro">
        TeeBase has a suite of products and services to protect your company's data both inside and outside your secure corporate network, to insure that hackers cannot enter your databases and access to confidential or proprietary information is restricted to only those whose roles require access.
    </p>
  </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div>
                <div class="box-header">
                    <h1>
                        Protection anywhere
                    </h1>
                </div>

                <img src="../images/Teebase 1.png" class="img-responsive" />
                <div>
                    <p class="box-info">
                        Whenever your employees travel, TeeBase products insure that they can access and work on the documents and data they require with full protection against theft, hacking or lost baggage, with instant backup capabilities.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div>
                <div class="box-header">
                    <h1>Secure voice and data solutions</h1>
                </div>
                <img src="../images/Teebase 2.png" class="img-responsive" />
                <div>
                    <p class="box-info">
                        TeeBase also provides telecommunication solutions for voice and data at low cost internationally as well as a cloud-based virtual PBX platform that gives your company local presence in markets globally.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div>
                <div class="box-header">
                    <h1>CyberSecurity tools & services</h1>
                </div>
                <img src="../images/Teebase 3.png" class="img-responsive" />
                <div>
                    <p class="box-info">
                        Hackers, disgruntled employees, snooping governmental agencies from any country in the world, thieves who steal your employees’ devices all can gain access to your most valuable asset – your information.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                TeeBase protects your information the way you want..
            </div>
        </div>

    </div>
</div>