<img src="../images/TeeBase Banner.jpg" class="img-responsive" style="width:100%" />
<div class="row  row-info">
    <div class="col-sm-12">
        <p class="home-intro text-center">
            TeeBase products give you 360° protection from those who actively seek to rob you of your data.
        </p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-4 min-pad">
            <b>DartKey:</b> a USB data key - available in two encryption versions – military-grade and standard -  with storage capacities from 16GB to 1TB.
            DartKey has a bootable OS that runs on any Intel machine (Windows base or Apple). The OS defeats any possible threat to the data stored and encrypted on the key storage. The OS is a secure OS with basic application to create, edit, and manage documents, audio, video and other files. A file document stored on the key is encrypted with the highest possible secure encrypted technology.
            The military grade key has a keyboard for an additional 10 digits PIN. A series of wrong PINs entered into the key will destroy the data stored, as the key is powered by a battery.
        </div>
        <div class="col-lg-4  min-pad">
            <b>LiveBox:</b>  military-grade File Sync & Share. The product was designed for companies whose employees need to share documents with a high level of security. The product has very high encryption level, versioning, trash, high-power workflow engine, desktop and smartphone agents that allow users sharing a document to be informed of all changes and to control the shared document.
            Unlike products like DropBox, LiveBox was designed for corporate use and can be installed in a private cloud at the company’s data centre or in an external datacentre. When DartKey is used in connection with LiveBox, the backup storage is on a LiveBox domain.
        </div>
        <div class="col-lg-4  min-pad">
            <b>Vertical solution:</b> based on LiveBox and its smartphone agent and our Roaming SIM, we offer a travel management system that tracks employees in every part of the world. A company can send travel itineraries, local threat alerts, local weather and other information that assists the traveling employee or his business.  This system was requested by a Tier-1 oil and gas Company. A second system is in testing at an important Company in the defence sector.
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4  min-pad"><b>PrivateWave:</b> an app that provides high quality encryption for your employees’ mobile phones, not only for voice calls but messaging and chats as well, including documents, photos and videos.  No longer will your mobile phones be open to interception by anyone with easy-to-acquire interception equipment.  Your telephone communications can be just as secure as your data with PrivateWave.</div>
        <div class="col-lg-8  min-pad">
            <b>Telecom platform:</b> TeeBase has a high end VoIP platform with a class 4 and class 5 switch in a redundant installation in USA. With this solution it is possible to offer PBX in the cloud and wholesale services for operators, call centres, SIP trunking, corporate and residential VoIP services. Part of the service is Roaming SIM: TeeBase Roaming SIM series cards provide low-cost voice and data telecommunications globally.
            The Roaming SIMs are managed by a PBX in the Cloud. The extremely flexible billing engine allows customizing any possible travel SIM product with pay-per-use or pay-per-pre-set-quantity capability. Each Customer/User can choose the best plan for his requirements. Our Roaming SIM can have local telephone numbers (DID) in more than 60 Countries. This feature and the good rates available will offer a 70% savings in roaming cost compared to rates of Tier-1 operators.
        </div>
        </div>
</div>