<img src="../images/TeeBase Banner.jpg" class="img-responsive" style="width:100%" />
<div class="row  row-info">
    <div class="col-sm-12">
        <p class="home-intro text-center">
            TeeBase UK Ltd. is a limited company with offices at 6-8 Tokenhouse Yard, London EC2R 7AS.  Management are seasoned professionals with decades of experience in technology.  Our partners are among the leading security companies in the world.
        </p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12 min-pad">Offices & Partners:</div>
        <div class="col-lg-12 min-pad">TeeBase operates globally through our distribution partners.</div>
        <div class="col-lg-12 min-pad">Choose your country or region:</div>
    </div>
    <div class="row">

    </div>
    </div>